.experiencia-items{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 15rem;
    justify-content: center;
    transition: 700ms;
    /* background-color: white; */
    
}
.experiencia-caja-titulo{
    font-size: 1.2rem;
    font-weight: bold;
    margin: 5px 10px;
    transition: 500ms;
}
.experiencia-descripcion{
    font-size: 0.9rem;
    margin: 5px 10px;
    transition: 500ms;
}
.experiencia-botones{
    margin: 10px;
    display: flex;
}
[type="button"]{
    margin-right: 10px;
    text-decoration: none;
    font-size: 0.9rem;
    
}
.button1{
    display: flex;
    margin-right: 5px;
    color: #2A7AE4;
    border: #2A7AE4 solid ;
    width: 6.5rem;
    height: 1.5rem;
    justify-content: center;
    align-items: center;
    transition: 500ms;

}

.button2{
    margin-left: 5px;
    background-color: #2A7AE4;
    color: white;
    width: 6.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #2A7AE4 solid;
    transition: 500ms; 
}
.button1:hover{
    
    box-shadow: 2px 2px 2px rgba(170, 168, 168, 0.604);
    width: 6.8rem;
    height: 1.7rem;
}
.button2:hover{
    
    box-shadow: 2px 2px 2px rgba(128, 127, 127, 0.747);
    width: 6.8rem;
    height: 1.7rem;
}
.experiencia-items:hover{
    width: 31%;
    height: 16rem;
    
}

.experiencia-caja-titulo:hover{
    font-size: 1.25rem;
    
    
}
.experiencia-descripcion:hover{
    font-size: 0.95rem;
    
}
