.sobre{
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    background: #eaf2fd;
    margin-top: 20px;
    text-align: left;
}

@media screen and (max-width:900px) {
    .sobre{
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}