.hobbies__titulo{
    width: 100%;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    transition: 400ms ease-in-out;
}
.hobbies__titulo:hover{
    font-size: 1.7rem;
}